{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "task-app.fullname" . }}
  labels:
    {{- include "task-app.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            {{- if eq .service "frontend" }}
            name: {{ include "task-app.fullname" $ }}-frontend
            {{- else if eq .service "backend" }}
            name: {{ include "task-app.fullname" $ }}-backend
            {{- end }}
            port:
              {{- if eq .service "frontend" }}
              number: {{ $.Values.frontend.service.port }}
              {{- else if eq .service "backend" }}
              number: {{ $.Values.backend.service.port }}
              {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
